:host {
  ul {
  }

  li {
    cursor: pointer;
    list-style-type: none;
    padding: 6px;

    border: 2px solid teal;
    border-radius: 4px;

    margin-bottom: 12px;
    &:hover {
      background-color: grey;
    }
    &.selected {
      background-color: teal;
      color: white;
    }

    img {
      max-width: 200px;
    }
  }
}
